/airflow/
airflow_venv/
Enonce-stripe.md
.venvChatGPTReadme.md
*.zip
pipeline/airflow/generate_gdpr_report
*.bak
.env
secrets
stripe-business-case.md
# Credentials
*.env
*password*
*secret*
*credentials*
*.pem
*.key
.env, 
*.pem, 
secrets.yml
.checkpoint-*.json